<%#= render '/refinery/content_page' %>

<div id="info">0</div>
<!-- Preload spin -->
<div id="spin-01"></div>
<div id="spin-02"></div>
<div id="spin-03"></div>
<div id="spin-04"></div>
<div id="spin-05"></div>
<div id="spin-06"></div>
<div id="spin-07"></div>
<div id="spin-08"></div>
<div id="spin-09"></div>
<div id="spin-10"></div>
<div id="spin-11"></div>
<div id="spin-12"></div>
<div id="spin-13"></div>
<div id="spin-14"></div>
<div id="spin-15"></div>
<div id="spin-16"></div>
<div id="spin-17"></div>
<div id="spin-18"></div>
<div id="spin-19"></div>
<div id="spin-20"></div>
<div id="spin-21"></div>
<div id="spin-22"></div>
<div id="spin-23"></div>
<div id="spin-24"></div>
<div id="spin-25"></div>
<div id="spin-26"></div>
<div id="spin-27"></div>
<div id="spin-28"></div>
<div id="spin-29"></div>
<div id="spin-30"></div>
<div id="spin-31"></div>
<div id="spin-32"></div>
<div id="spin-33"></div>
<div id="spin-34"></div>
<div id="spin-35"></div>
<div id="spin-36"></div>
<div id="spin-37"></div>

<div id="skroll-container">

<section id="welcome-to-blackops">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12" >
				<div id="typewriter" class="text-center">
			    <h1 id="blackops-title" class="text-center">Welcome to Blackops<span>|</span></h1>
			  </div>
			</div>
		</div>
	</div>
</section>

<section id="blackops-athlete-driven">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				  <img src="../assets/blackops-athlete-driven.jpg" alt="BLACKOPS ATHLETE DRIVEN" title="BLOCKOPS" class="img-responsive"
			    data-350="opacity:0;width:100%;"
			    data-500="opacity:1;position:fixed;top:20vh;left:0;width:150%;"
			    data-1450
			    data-1500="opacity:0;"
				   />
		   <div class="_row">
		   	 <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 text-center"  
				    data-750="opacity:0;"
				    data-900="opacity:1;position:fixed;top:35%;left:0%;"
				    data-1300
				    data-1400="opacity:0;position:relative;"
				   >
		      <h2>Athlete Driven</h2>
			     <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
			   </div>
		   </div>
			</div>
		</div>
	</div>
</section>

<section id="blackops-1" 
		data-3500="height:!100vh;"
		data-6000="height:!0vh;"
	>
	<!-- data-1500="opacity:0;"
		data-1800="opacity:1;" -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center"
				data-2100="opacity:0;"
				data-2400="opacity:1;position:fixed;top:35%;left:0%;"
				data-2800=""
				data-3000="opacity:0;"
			>
				<h2>98</h2>
		     <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
			</div>
		</div>
	</div>
</section>

<section id="blackops-2"
	data-2700="height:!100vh;"
	data-4000=""
	data-7000="height:!0vh;"
>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center"
				data-3500="opacity:0;"
				data-3600="opacity:1;position:fixed;top:35%;left:0%;"
				data-3900=""
				data-4000="opacity:0;"
			>
				<h2>BLACKOPS 2</h2>
		     <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
			</div>
		</div>
	</div>


</section>

<section id="blackops-3"
	
	data-6000="height:!100vh;"
	data-6900=""
	data-9000="height:!0vh;"
>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center"
				data-4000="opacity:0;"
				data-4500="opacity:1;position:fixed;top:35%;left:0%;"
				data-5000=""
				data-5200="opacity:0;"
			>
				<h2>BLACKOPS 3</h2>
		     <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
			</div>
		</div>
	</div>

	
</section>


<!-- <section id="blackops-5"
	data-4000="height:!100vh;"
	data-9000="height:!0vh;"

></section> -->




<!-- 
<section id="blackops-5"
  data-5000="height:100vh;background-image:!url('../assets/360.png');"
  

  data-5019=""
  data-5020="background-image:!url('../assets/10.png');"
  data-5039=""
  data-5040="background-image:!url('../assets/20.png');"
  data-5059=""
  data-5060="background-image:!url('../assets/30.png');"
  data-5079=""
  data-5080="background-image:!url('../assets/40.png');"
  data-5099=""
  data-5100="background-image:!url('../assets/50.png');"
  data-5119=""
  data-5120="background-image:!url('../assets/60.png');"
  data-5139=""
  data-5140="background-image:!url('../assets/70.png');"
  data-5159=""
  data-5160="background-image:!url('../assets/80.png');"
  data-5179=""
  data-5180="background-image:!url('../assets/90.png');"
  data-5199=""
  data-5200="background-image:!url('../assets/100.png');"
  data-5219=""
  data-5220="background-image:!url('../assets/110.png');"
  data-5239=""
  data-5240="background-image:!url('../assets/120.png');"
  data-5259=""
  data-5260="background-image:!url('../assets/130.png');"
  data-5279=""
  data-5280="background-image:!url('../assets/140.png');"
  data-5299=""
  data-5300="background-image:!url('../assets/150.png');"
  data-5319=""
  data-5320="background-image:!url('../assets/160.png');"
  data-5339=""
  data-5340="background-image:!url('../assets/170.png');"
  data-5359=""
  data-5360="background-image:!url('../assets/180.png');"
  data-5379=""
  data-5380="background-image:!url('../assets/190.png');"
  data-5399=""
  data-5400="background-image:!url('../assets/200.png');"
  data-5419=""
  data-5420="background-image:!url('../assets/210.png');"
  data-5439=""
  data-5440="background-image:!url('../assets/220.png');"
  data-5459=""
  data-5460="background-image:!url('../assets/230.png');"
  data-5479=""
  data-5480="background-image:!url('../assets/240.png');"
  data-5499=""
  data-5500="background-image:!url('../assets/250.png');"
  data-5519=""
  data-5520="background-image:!url('../assets/260.png');"
  data-5539=""
  data-5540="background-image:!url('../assets/270.png');"
  data-5559=""
  data-5560="background-image:!url('../assets/290.png');"
  data-5579=""
  data-5580="background-image:!url('../assets/300.png');"
  data-5599=""
  data-5600="background-image:!url('../assets/310.png');"
  data-5619=""
  data-5620="background-image:!url('../assets/320.png');"
  data-5659=""
  data-5660="background-image:!url('../assets/330.png');"
  data-5679=""
  data-5680="background-image:!url('../assets/340.png');"
  data-5699=""
  data-5700="background-image:!url('../assets/350.png');"
  data-5739=""
  data-5740="background-image:!url('../assets/360.png');"


  data-15039=""
  data-15040="background-image:!url('../assets/110.png');"




>
	
</section> -->


<!-- 

data-15000="height:100vh;background-image:url('..../assets/360.png');"
  

  data-15019=""
  data-15020="background-image:url('../assets/10.png');"
  data-15039=""
  data-15040="background-image:url('../assets/20.png');"
  data-15059=""
  data-15060="background-image:url('../assets/30.png');"
  data-15079=""
  data-15080="background-image:url('../assets/40.png');"
  data-15099=""
  data-16000="background-image:url('../assets/50.png');"
  data-16019=""
  data-16020="background-image:url('../assets/60.png');"
  data-16039=""
  data-16040="background-image:url('../assets/70.png');"
  data-16059=""
  data-16060="background-image:url('../assets/80.png');"
  data-16079=""
  data-16080="background-image:url('../assets/90.png');"
  data-16099=""
  data-17000="background-image:url('../assets/100.png');"
  data-17019=""
  data-17020="background-image:url('../assets/110.png');"
  data-17039=""
  data-17040="background-image:url('../assets/120.png');"
  data-17059=""
  data-17060="background-image:url('../assets/130.png');"
  data-17079=""
  data-17080="background-image:url('../assets/140.png');"
  data-17099=""
  data-18000="background-image:url('../assets/150.png');"
  data-18019=""
  data-18020="background-image:url('../assets/160.png');"
  data-18039=""
  data-18040="background-image:url('../assets/170.png');"
  data-18059=""
  data-18060="background-image:url('../assets/180.png');"
  data-18079=""
  data-18080="background-image:url('../assets/190.png');"
  data-18099=""
  data-19000="background-image:url('../assets/200.png');"
  data-19019=""
  data-19020="background-image:url('../assets/210.png');"
  data-19039=""
  data-19040="background-image:url('../assets/220.png');"
  data-19059=""
  data-19060="background-image:url('../assets/230.png');"
  data-19079=""
  data-19080="background-image:url('../assets/240.png');"
  data-19099=""
  data-20000="background-image:url('../assets/250.png');"
  data-20019=""
  data-20020="background-image:url('../assets/260.png');"
  data-20039=""
  data-20040="background-image:url('../assets/270.png');"
  data-20059=""
  data-20060="background-image:url('../assets/290.png');"
  data-20079=""
  data-20080="background-image:url('../assets/300.png');"
  data-20099=""
  data-20100="background-image:url('../assets/310.png');"
  data-20119=""
  data-20120="background-image:url('../assets/320.png');"
  data-20159=""
  data-20160="background-image:url('../assets/330.png');"
  data-20179=""
  data-20180="background-image:url('../assets/340.png');"
  data-20199=""
  data-20200="background-image:url('../assets/350.png');"
  data-20239=""
  data-20240="background-image:url('../assets/360.png');"


  data-15039=""
  data-15040="background-image:url('../assets/110.png');"

 -->

</div><!-- skrollr container -->



<script>
var s = skrollr.init({
	render: function(data) {
	  //Log the current scroll position.
	  $('#info').text(data.curTop);
	}
});
</script>