/*PRELOAD SKI SPIN IMAGES */

#spin-01 {background: url('../images/360.png') no-repeat -9999px -9999px;}
#spin-02 {background: url('../images/10.png') no-repeat -9999px -9999px;}
#spin-03 {background: url('../images/20.png') no-repeat -9999px -9999px;}
#spin-04 {background: url('../images/30.png') no-repeat -9999px -9999px;}
#spin-05 {background: url('../images/40.png') no-repeat -9999px -9999px;}
#spin-06 {background: url('../images/50.png') no-repeat -9999px -9999px;}
#spin-07 {background: url('../images/60.png') no-repeat -9999px -9999px;}
#spin-08 {background: url('../images/70.png') no-repeat -9999px -9999px;}
#spin-09 {background: url('../images/80.png') no-repeat -9999px -9999px;}
#spin-10 {background: url('../images/90.png') no-repeat -9999px -9999px;}
#spin-11 {background: url('../images/100.png') no-repeat -9999px -9999px;}
#spin-12 {background: url('../images/110.png') no-repeat -9999px -9999px;}
#spin-13 {background: url('../images/120.png') no-repeat -9999px -9999px;}
#spin-14 {background: url('../images/130.png') no-repeat -9999px -9999px;}
#spin-15 {background: url('../images/140.png') no-repeat -9999px -9999px;}
#spin-16 {background: url('../images/150.png') no-repeat -9999px -9999px;}
#spin-17 {background: url('../images/160.png') no-repeat -9999px -9999px;}
#spin-18 {background: url('../images/170.png') no-repeat -9999px -9999px;}
#spin-19 {background: url('../images/180.png') no-repeat -9999px -9999px;}
#spin-20 {background: url('../images/190.png') no-repeat -9999px -9999px;}
#spin-21 {background: url('../images/200.png') no-repeat -9999px -9999px;}
#spin-22 {background: url('../images/210.png') no-repeat -9999px -9999px;}
#spin-23 {background: url('../images/220.png') no-repeat -9999px -9999px;}
#spin-24 {background: url('../images/230.png') no-repeat -9999px -9999px;}
#spin-25 {background: url('../images/240.png') no-repeat -9999px -9999px;}
#spin-26 {background: url('../images/250.png') no-repeat -9999px -9999px;}
#spin-27 {background: url('../images/260.png') no-repeat -9999px -9999px;}
#spin-28 {background: url('../images/270.png') no-repeat -9999px -9999px;}
#spin-29 {background: url('../images/280.png') no-repeat -9999px -9999px;}
#spin-30 {background: url('../images/290.png') no-repeat -9999px -9999px;}
#spin-31 {background: url('../images/300.png') no-repeat -9999px -9999px;}
#spin-32 {background: url('../images/310.png') no-repeat -9999px -9999px;}
#spin-33 {background: url('../images/320.png') no-repeat -9999px -9999px;}
#spin-34 {background: url('../images/330.png') no-repeat -9999px -9999px;}
#spin-35 {background: url('../images/340.png') no-repeat -9999px -9999px;}
#spin-36 {background: url('../images/350.png') no-repeat -9999px -9999px;}
#spin-37 {background: url('../images/360.png') no-repeat -9999px -9999px;}