/*PRELOAD SKI SPIN IMAGES */

#spin-01 {background: url('../assets/360.png') no-repeat -9999px -9999px;}
#spin-02 {background: url('../assets/10.png') no-repeat -9999px -9999px;}
#spin-03 {background: url('../assets/20.png') no-repeat -9999px -9999px;}
#spin-04 {background: url('../assets/30.png') no-repeat -9999px -9999px;}
#spin-05 {background: url('../assets/40.png') no-repeat -9999px -9999px;}
#spin-06 {background: url('../assets/50.png') no-repeat -9999px -9999px;}
#spin-07 {background: url('../assets/60.png') no-repeat -9999px -9999px;}
#spin-08 {background: url('../assets/70.png') no-repeat -9999px -9999px;}
#spin-09 {background: url('../assets/80.png') no-repeat -9999px -9999px;}
#spin-10 {background: url('../assets/90.png') no-repeat -9999px -9999px;}
#spin-11 {background: url('../assets/100.png') no-repeat -9999px -9999px;}
#spin-12 {background: url('../assets/110.png') no-repeat -9999px -9999px;}
#spin-13 {background: url('../assets/120.png') no-repeat -9999px -9999px;}
#spin-14 {background: url('../assets/130.png') no-repeat -9999px -9999px;}
#spin-15 {background: url('../assets/140.png') no-repeat -9999px -9999px;}
#spin-16 {background: url('../assets/150.png') no-repeat -9999px -9999px;}
#spin-17 {background: url('../assets/160.png') no-repeat -9999px -9999px;}
#spin-18 {background: url('../assets/170.png') no-repeat -9999px -9999px;}
#spin-19 {background: url('../assets/180.png') no-repeat -9999px -9999px;}
#spin-20 {background: url('../assets/190.png') no-repeat -9999px -9999px;}
#spin-21 {background: url('../assets/200.png') no-repeat -9999px -9999px;}
#spin-22 {background: url('../assets/210.png') no-repeat -9999px -9999px;}
#spin-23 {background: url('../assets/220.png') no-repeat -9999px -9999px;}
#spin-24 {background: url('../assets/230.png') no-repeat -9999px -9999px;}
#spin-25 {background: url('../assets/240.png') no-repeat -9999px -9999px;}
#spin-26 {background: url('../assets/250.png') no-repeat -9999px -9999px;}
#spin-27 {background: url('../assets/260.png') no-repeat -9999px -9999px;}
#spin-28 {background: url('../assets/270.png') no-repeat -9999px -9999px;}
#spin-29 {background: url('../assets/280.png') no-repeat -9999px -9999px;}
#spin-30 {background: url('../assets/290.png') no-repeat -9999px -9999px;}
#spin-31 {background: url('../assets/300.png') no-repeat -9999px -9999px;}
#spin-32 {background: url('../assets/310.png') no-repeat -9999px -9999px;}
#spin-33 {background: url('../assets/320.png') no-repeat -9999px -9999px;}
#spin-34 {background: url('../assets/330.png') no-repeat -9999px -9999px;}
#spin-35 {background: url('../assets/340.png') no-repeat -9999px -9999px;}
#spin-36 {background: url('../assets/350.png') no-repeat -9999px -9999px;}
#spin-37 {background: url('../assets/360.png') no-repeat -9999px -9999px;}